# https://indianaiproduction.com/directing-customers-to-subscription-through-financial-app-behavior-analysis-ml-project/
# require python 3.7 and jupyter 
numpy==1.21.0
pandas==1.3.0
matplotlib==3.4.2
seaborn==0.11.2
pickle5==0.0.11
joblib==1.0.1
scikit-learn==0.24.2
xgboost==1.4.2